# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambientes virtuais
venv/
.venv/
env/

# Banco de dados
*.db
*.sqlite3

# Logs e outputs
logs/
output/
*.log

# Variáveis de ambiente
.env
.env.*

# Sistemas operacionais
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.code-workspace

# Test / análise
.pytest_cache/
.mypy_cache/

# Build / distribuição
dist/
build/
*.egg-info/

# Coverage
.coverage
htmlcov/*.pem
*-key.pem
